<% layout('/layouts/boilerplate') %>
<body>

<div class="">
<h3 class="offset-4 mt-4"><b><%=userData.username.toUpperCase() %> Booking lists</b></h3><br>
</div>    
<div class="row">
        <div class="col-9 offset-2">
    <%for (let booking of bookingdata){ %>
        <div class="card col listing-card">
            <h2 class="booking-title">Title:<%=booking.listingName %></h2>
            <div class="booking-dates">
            <h3>check In Date:&nbsp;&nbsp;<%=booking.checkInDate.toString().split(" ").splice(1,3).join("-") %></h3>
            <h3>check Out Date:&nbsp;&nbsp;<%=booking.checkOutDate.toString().split(" ").splice(1,3).join("-") %></h3>
        </div>
<br>      </div>   
     <%} %>  </div> </div>
</body>