<% layout('/layouts/boilerplate') %>
<body>
    <div class="row">
        <div class="col-6 offset-3 mt-3">
    <h1>
        Thanks,for Booking the listing.
    </h1>
    <br>
    <h3>Check Your Email.</h3><br>
    <form action="/bookinglist">
        <button class="btn btn-dark">Show Bookings</button>
    </form>
</div>
</div>
</body>